{% extends "base.html" %}

{% block nav-home %}<a class="nav-link active" href="/home">Home</a>{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>Home page</h2>
            <p>Lorem ipsum...</p>
        </div>
    </div>
</div>
{% endblock content %}
